    <!-- header -->
    <header class="header">
      <div class="header-contents">
        <div class="delivery-image">
        </div>
        <ul class="customers-items">
          <li class="sign-up-item">
            <a href="http://www.kogoon.me/register">회원가입</a>
          </li>
          <li class="sign-in-item">
            <a href="http://www.kogoon.me/user/login">로그인</a>
          </li>
          <li class="service-center-item">
            <a href="#">고객센터</a>
            <button type="button" class="service-center-icon"></button>
            <ul class="service-center-detail">
              <li>
                <a href="#">공지사항</a>
              </li>
              <li>
                <a href="#">1:1 문의</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="logo-image">
        <a href="http://www.kogoon.me">
          <img src="https://d3bkwkz9ubo8f2.cloudfront.net/assets/broccoli.png" alt="Bro Kurly" />
        </a>
      </div>

    </header>